/node_modules
/public/hot
/public/assets
/resources/views/admin.blade.php
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

#barywidth ide helpers file
/_ide_helper.php
/_ide_helper_models.php
/.phpstorm.meta.php

#editor files
.idea
*.sublime-project
*.sublime-workspace
*.komodoproject
